################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Deployment/Suntech.Services.WcfPushRequestService/Application/bin
