@model Web.Models.UserViewModel

@{
    ViewBag.Title = "Home Page";
    ViewBag.CurrentUser = Model.CurrentUser;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="indexview">
    <div class="row">
        <div class="column">
            <div class="patientoverview">
                <h2>Uw Patienten</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-7 large-9 columns">
            
            <div class="patient-table">
                <table class="hover">
                    <thead>
                        <tr>
                            <th width="200">Initials</th>
                            <th width="200">Lastname</th>
                            <th width="150">City</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subscribedPatient in Model.SubscribedPatients)
                        {
                        <tr>
                            <td>@Html.ActionLink(subscribedPatient.Initials, "SubscribedPatientDetails", "Home", new { subscribedPatient })</td>
                            <td>@Html.ActionLink(subscribedPatient.Lastname, "SubscribedPatientDetails", "Home", new { subscribedPatient })</td>
                            <td>@Html.ActionLink(subscribedPatient.City, "SubscribedPatientDetails", "Home", new { subscribedPatient })</td>
                        </tr>
                        }
                    @*<tr>
                        
                        <td><a href="#">Mr. B.</a></td>
                        <td><a href="#">Gouda</a></td>
                        <td><a href="#">Content</a></td>
                        <td><a href="#">Content</a></td>
                    </tr>
                    <tr>
                        <td>Mr. M.</td>
                        <td>Zutphen</td>
                        <td>Content</td>
                        <td>Content</td>
                    </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
        <div class="small-12 medium-5 large-3 columns ">
            <div class="container-padded searchpatient-container">
                @Html.Action("_SearchPatient", "Home")
            </div>
        </div>
   </div>
</div>