
@{
    ViewBag.Title = "NoPatientsFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nopatientsfoundpage">
    <div class="row column align-center medium-6 large-4 container-padded">

        <div class="align-center">
            <h4>Sorry, we couldn't find any patients matching that query.</h4>
        </div>
      </div>
</div>