.indexview
{
    padding-top: 20px;
    height: 700px;

    .patientoverview
        {
        margin-top: 10px;
        margin-bottom: 25px;
    }
}


.searchpatient-container {
    border: 1px thin black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(10,10,10,.5);

    td a {
        display: block;
    }
}

.patient-table
{
    td p{
        margin-bottom: 0px !important;
        margin-top: 5px;
    }
}

.bold{
    font-weight: 600;
}

#my-info{
    height: 700px;
}

