<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="ChainLocation" value="D:\Development\Eigenbouw\bc\MultiChain\"/>
    <add key="Chainclonename" value="mytestchain"/>
    <add key="Chainname" value="mytestchain"/>

    <add key="ChainPort" value="1987"/>

    <add key="UtilName" value="multichain-util.exe"/>
    <add key="ClientName" value="Multichain-cli.exe"/>
    <add key="MultichainServer" value="Multichaind.exe"/>


    <!--Client data-->
    <add key="ClientAddress" value="1YDR2LGn2SPAjfD7D8tdPmknSQqP4pESQt2Sg3"/>
    <add key="PermissionTransactionId" value="0b7a708c0152ab07a108c303927e73603fb0685431704ea615bcc0f575ca0df2"/>
  </appSettings>
</configuration>