<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ChainLocation" value="D:\Development\Eigenbouw\bc\MultiChain\"/>
    <add key="Chainclonename" value="mytestchain"/>
    <add key="Chainname" value="testchain"/>

    <add key="ChainPort" value="1987"/>

    <add key="UtilName" value="multichain-util.exe"/>
    <add key="ClientName" value="multichain-cli.exe"/>
    <add key="MultichainServer" value="multichaind.exe"/>

    <!--Client data-->
    <add key="ClientAddress" value="1VxQ7KvKgo1YjRMgSK17Ccp45AmYEPaYZ8Gwqh"/>
    <add key="PermissionTransactionId" value="0b7a708c0152ab07a108c303927e73603fb0685431704ea615bcc0f575ca0df2"/>
    <add key="Streamname" value="pinjo"/>

    <add key="IPAddress" value="10.1.5.111"/>
    <add key="Port" value="10000"/>
    <add key="Connector" value="raw-connection"/>

    <add key="address" value="1JVfksFyqXkeppMvArN36A26QrsM9dp8bBjBbB"/>
    <add key="privkey" value="V7rPZvVY7bRGtnF9r8eiSbpMtWuX7yRN4b6wHj1PuDsAz8QG5Pribpri"/>
    <add key="pubkey" value="0307f16e0b1c98453456662f1906c554dd80e538b90d8d62bd9f39a6ade21975eb"/>


  </appSettings>
</configuration>