<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BlockChainEntities" connectionString="metadata=res://*/DataCom.BlockchainData.csdl|res://*/DataCom.BlockchainData.ssdl|res://*/DataCom.BlockchainData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pc2696\lokaal;initial catalog=StoneyCreekBlockChain;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <appSettings>
    <add key="ChainLocation" value="D:\Development\Eigenbouw\bc\MultiChain\"/>
    <add key="Chainclonename" value="mytestchain"/>
    <add key="Chainname" value="testchain"/>

    <add key="ChainPort" value="1987"/>
    
    <add key="UtilName" value="multichain-util.exe"/>
    <add key="ClientName" value="Multichain-cli.exe"/>
    <add key="MultichainServer" value="Multichaind.exe"/>

    <!--Client data-->
    <add key="ClientAddress" value="1VxQ7KvKgo1YjRMgSK17Ccp45AmYEPaYZ8Gwqh"/>
    <add key="PermissionTransactionId" value="0b7a708c0152ab07a108c303927e73603fb0685431704ea615bcc0f575ca0df2"/>
    <add key="Streamname" value="pinjo"/>
  
    <add key="IPAddress" value="10.1.5.111"/>
    <add key="Port" value="10000"/>
    <add key="Connector" value="raw-connection"/>
  </appSettings>
</configuration>